@CHARSET "ISO-8859-1";


/* Interact styles. */

#interact-centre {
  margin: 0;
  line-height: 1.5em;
}

tbody.no-top-border {
  border-top: none;
}

.interact-mini-pic {
  padding: 0.3em;
  vertical-align: top;
}

.interact-see-all-link {
  text-align: right;
  margin-top: 1em;
  font-size: 0.8em;
}

#interact-callout {
  float: right;
  padding: 10px;
  margin: 0 0 10px 10px;
  background: #eee;
  border: 1px solid #aaa;
}

/* User view styles. */

td.interact-user-frame {
  padding: 0 1em;
}

/* Public message styles. */

td.interact-pmsg-text {
  width: 100%;
}

.interact-pmsg-header {
  background: #eee;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  padding: 0.3em;
}

.interact-pmsg-user {
  font-weight: bold;
}

.interact-pmsg-time {
  font-size: 0.8em;
  color: #aaa;
}

.interact-pmsg-trailer {
  font-size: 0.8em;
}

form#interact-public-message-form {
  margin-bottom: 0 ! important;
}

form#interact-public-message-form input {
  margin: 0;
}

table#interact-public-messages {
  margin-bottom: 0;
}

/* User action styles. */

.interact-user-action {
  clear: left;
}

.interact-user-action-icon {
  float: left;
  margin: 0 ! important;
}

.interact-user-action-message {
  margin-left: 32px;
}

.interact-quote {
  margin: 0.5em 3em 1em;
  color: #aaa;
}

.interact-user-action-date {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 1em;
}